@import '../../styles/variables';
@import '../../styles/mixins';


.circle1,
.circle2 {
    position: absolute;
    background-color: #42a8a851;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    z-index: 1;
}

.circle1 {
    top: 900px;
    left: 0;
    margin-left: -60px;
}

.circle2 {
    top: 600px;
    right: 0;
    width: 200px;
    height: 200px;

}


.missionContainer {
    position: relative;
    margin-top: 100px;
    display: flex;
    gap: 50px;
    justify-content: center;
    background-color: $primary-color;
    padding: 20px 70px;
    color: white;
    z-index: 20;
    align-items: center;

    .leftSide {
        text-align: justify;
        width: 45%;

        p {
            margin-top: 10px;
            line-height: 1.3;
        }
    }

    .rightSide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;

        img {
            width: 420px;
            height: auto;
        }
    }
}

.techWrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    flex-direction: column;

    h2 {
        color: $primary-color;
    }

    .techContainer {
        width: 65%;
        display: flex;
        color: white;
        gap: 30px;
        z-index: 10;

        .imgContainer {
            width: 25%;
            display: flex; // Use flexbox to center contents
            align-items: center; // Vertically center
            justify-content: center; // Horizontally center

            img {
                width: 100%;
            }
        }

        .textContainer {
            padding: 10px 20px;
            flex-direction: column;
            background-color: $primary-color;
            text-align: center;
            width: 100%;

            h3 {
                font-size: 1.8rem;
            }

            p {
                text-align: justify;
                margin-top: 10px;
                line-height: 1.3;

            }
        }


    }

    .techContainer:nth-of-type(2) {
        flex-direction: row-reverse;
    }
}

.processWrapper {
    padding: 10px 50px;
    background-color: #d8d8d8;
    gap: 30px;
    z-index: 20;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h2 {
        color: $primary-color;
        width: 100%;
        padding: 0px 50px;
    }

    .processContainer {
        gap: 15px;
        display: flex;
        background: linear-gradient(135deg, #1b8888, #0bb9b9);

        align-items: center;
        width: 45%;
        padding: 15px 0px;
        color: white;

        .numContainer {
            width: 15%;
            text-align: center;

            h2 {
                color: white;
                padding: 0;
            }
        }

        .imgContainer {
            width: 15%;

            img {
                max-width: 100%;
            }
        }

        .infoContainer {
            width: 60%;
        }
    }
}

@media screen and (max-width:1130px) {
    .missionContainer {
        .rightSide {

            img {
                width: 365px;
                height: auto;
            }
        }
    }
}

@include tablet {

    .circle1 {
        height: 250px;
        width: 250px;
    }

    .circle2 {
        height: 150px;
        width: 150px;
    }

    .techWrapper {
        flex-direction: column;

        .techContainer {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;

            .textContainer {
                flex-direction: column;
                width: 100%;
            }


            .imgContainer {
                width: 25%;
            }

        }

        .techContainer:nth-of-type(2) {
            flex-direction: column;
        }
    }

    .processWrapper {

        h2 {
            font-size: 2.2rem;
        }

        .processContainer {
            .numContainer {
                width: 13%;

                h2 {
                    color: white;
                }
            }

            .imgContainer {
                width: 13%;

                img {
                    max-width: 100%;
                }
            }
        }
    }
}

@include phablet {

    .circle1 {
        height: 210px;
        width: 210px;
    }

    .circle2 {
        height: 120px;
        width: 120px;
    }

    .missionContainer {
        display: flex;
        flex-direction: column;
        padding: 20px 45px;
        gap: 10px;

        .leftSide {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;

            h2 {
                font-size: 2.4rem;
            }

            p {
                font-size: 0.9rem;
            }
        }

        .rightSide {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            img {
                max-width: 400px;
            }
        }
    }

    .techWrapper {
        flex-direction: column;
        padding: 20px 60px;

        h2 {
            font-size: 2.4rem;
        }

        .techContainer {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;

            .textContainer {
                flex-direction: column;
                width: 100%;

                h3 {
                    font-size: 1.6rem;
                }

                p {
                    font-size: 0.9rem;
                }
            }

            .imgContainer {
                width: 30%;
            }

        }

        .techContainer:nth-of-type(2) {
            flex-direction: column;
        }
    }

    .processWrapper {
        h2 {
            font-size: 2.2rem;
        }

        .processContainer {
            flex-direction: column;

            .numContainer {
                width: 100%;
                text-align: left;
                margin-left: 20%;

                h2 {
                    color: white;
                }
            }

            .imgContainer {
                width: 30%;
                justify-content: center;
                display: flex;

                img {
                    max-width: 90%;
                }
            }

            .infoContainer {
                width: 80%;

                p {
                    font-size: 0.9rem;
                }
            }
        }
    }
}

@include mobile {

    .circle1 {
        height: 160px;
        width: 160px;
    }

    .circle2 {
        height: 90px;
        width: 90px;
    }

    .missionContainer {
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        gap: 10px;

        .leftSide {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;

            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 0.8rem;
            }
        }

        .rightSide {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            img {
                width: 90%;
            }
        }
    }

    .techWrapper {
        flex-direction: column;
        text-align: center;
        padding: 20px 30px;

        h2 {
            font-size: 2rem;
        }

        .techContainer {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;

            .textContainer {
                flex-direction: column;
                width: 100%;

                h3 {
                    font-size: 1.4rem;
                }

                p {
                    font-size: 0.8rem;
                }
            }

            .imgContainer {
                width: 40%;
            }
        }

        .techContainer:nth-of-type(2) {
            flex-direction: column;
        }
    }

    .processWrapper {
        h2 {
            font-size: 2.1rem;
        }

        .processContainer {
            flex-direction: column;
            width: 100%;

            .numContainer {
                width: 100%;
                text-align: left;
                margin-left: 20%;

                h2 {
                    color: white;
                }
            }

            .imgContainer {
                width: 30%;
                justify-content: center;
                display: flex;

                img {
                    max-width: 90%;
                }
            }

            .infoContainer {
                width: 80%;

                p {
                    font-size: 0.9rem;
                }
            }
        }
    }
}