.introContainer {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white !important;
  background-color: #008E8E;
  padding: 20px 0px;
  text-align: center;
}
.introContainer h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.7rem;
}
.introContainer .introText {
  margin-top: 10px;
  line-height: 1.35;
  text-align: justify;
  width: 75%;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

/*
.diseaseWrapper {
    margin: 0 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
    padding: 20px;


    h2 {

        grid-column: span 4;
        font-family: $header-font;
        color: $primary-color;
        font-size: 2.7rem;
        font-weight: 500;
    }

    p {
        grid-column: span 4;
        text-align: justify;
        font-family: $body-font;
        font-size: 1rem;
    }

    .diseaseContainer {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.296);
        overflow: hidden;
        text-align: center;
        padding: 20px;
        transition: border 0.3s ease;
        border: 2px solid transparent;

        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 8px;
        }

        h4 {
            font-family: $header-font;
            font-size: 1.2rem;
            margin-top: 15px;
            color: $primary-color;
        }

        &:hover {
            border-color: $primary-color;
        }
    }


    >div {
        &:nth-child(n+7) {
            justify-content: space-;
        }
    }



}
    */
.skinText {
  font-family: "Oswald", sans-serif;
  color: #008E8E;
  font-size: 2.7rem;
  font-weight: 500;
  margin: 0px 100px;
  margin-top: 20px;
}

.infoText {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  text-align: justify;
  margin: 0 100px;
  margin-top: 10px;
  line-height: 1.35;
  margin-bottom: 20px;
}

.diseaseWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.diseaseWrapper .diseaseContainer {
  width: 18%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.296);
  overflow: hidden;
  text-align: center;
  padding: 1.5%;
  transition: border 0.3s ease;
  border: 2px solid transparent;
}
.diseaseWrapper .diseaseContainer img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.diseaseWrapper .diseaseContainer h4 {
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  color: #008E8E;
}
.diseaseWrapper .diseaseContainer:hover {
  border-color: #008E8E;
}
.diseaseWrapper .diseaseContainer a {
  text-decoration: none;
}
.diseaseWrapper > div {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 18%;
  margin: 10px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .introContainer h2 {
    width: 80%;
    font-size: 2.7rem;
  }
  .introContainer p {
    font-size: 1rem;
  }
  .skinText {
    font-size: 2.7rem;
  }
  .infoText {
    font-size: 1rem;
    margin: 0 80px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .introContainer h2 {
    width: 80%;
    font-size: 2.4rem;
  }
  .introContainer p {
    font-size: 0.9rem;
  }
  .skinText {
    text-align: center;
    font-size: 2.4rem;
  }
  .infoText {
    font-size: 0.9rem;
    margin: 0 70px;
  }
  .diseaseWrapper .diseaseContainer {
    width: 25%;
    border-radius: 7px;
  }
  .diseaseWrapper .diseaseContainer h4 {
    font-size: 1rem;
  }
  .diseaseWrapper .diseaseContainer img {
    border-radius: 5px;
  }
}
@media screen and (max-width: 480px) {
  .introContainer h2 {
    width: 95%;
    font-size: 2rem;
  }
  .introContainer p {
    font-size: 0.8rem;
  }
  .skinText {
    text-align: center;
    font-size: 2rem;
    margin: 0;
  }
  .infoText {
    font-size: 0.8rem;
    margin: 0 30px;
  }
  .diseaseWrapper .diseaseContainer {
    width: 30%;
    border-radius: 7px;
  }
  .diseaseWrapper .diseaseContainer h4 {
    font-size: 0.9rem;
  }
  .diseaseWrapper .diseaseContainer img {
    border-radius: 4px;
  }
}/*# sourceMappingURL=SkinConditions.module.css.map */