@import '../../styles/variables';

.navContainer {
    width: 100%;
    background-color: $primary-color ;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;

    .logoContainer {
        margin-left: 100px;
        a {
            text-decoration: none;
        }

        .siteName {
            font-family: $header-font;
            font-weight: 500;
            font-size: 2.5rem;
            color: white;
        }
    }


    .menuContainer {
        margin-right: 100px;
        font-size: 1rem;    
        font-weight: 500;

        .navLinks {
            font-family: $body-font;
            list-style-type: none;
            display: flex;
            gap: 20px;

            li {
                a {
                    &:hover {
                        background-color: #00d9d9b8;
                        border-radius: 3px;
                    }

                    text-decoration: none;
                    color: white;
                    padding: 4px 6px;
                }
            }
        }

    }
}