.textContainer {
  text-align: center;
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textContainer h1 {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
}
.textContainer p {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  width: 45%;
  color: #606060;
}

.uploadCotainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dotted #008E8E;
  padding: 10px 15px;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  width: 85%;
  max-width: 700px;
  overflow: hidden;
  margin-top: 30px;
  justify-content: center;
}
.uploadCotainer .previewImage {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 340px;
  max-width: 95%;
}
.uploadCotainer .uploadVector {
  width: 60%;
  height: auto;
}
.uploadCotainer .allowedMessage {
  font-style: italic;
  text-align: center;
  width: 80%;
  color: #606060;
  font-weight: 350;
}
.uploadCotainer .errorMessage {
  margin-top: 5px;
  text-align: center;
  width: 80%;
  color: #606060;
  font-weight: 350;
  color: rgb(204, 8, 8);
}
.uploadCotainer .optionsContainer {
  display: flex;
  gap: 10px;
}
.uploadCotainer .optionsContainer label,
.uploadCotainer .optionsContainer button {
  font-family: "Inter", sans-serif;
  background-color: #008E8E;
  margin-top: 30px;
  padding: 10px 15px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  color: white;
  z-index: 10;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.uploadCotainer .optionsContainer label:hover,
.uploadCotainer .optionsContainer button:hover {
  background-color: rgb(14, 197, 197);
}
.uploadCotainer .optionsContainer .hiddenInput {
  display: none;
}
.uploadCotainer .optionsContainer button:nth-of-type(2) {
  background-color: rgb(204, 8, 8);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.uploadCotainer .optionsContainer button:nth-of-type(2):hover {
  background-color: rgb(231, 38, 38);
}
.uploadCotainer .loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.uploadCotainer .loadingContainer .loading {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #008E8E;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.uploadCotainer .resultsWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.uploadCotainer .resultsWrapper .results {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}
.uploadCotainer .resultsWrapper .results button {
  border: none;
  background-color: #fff;
  margin-bottom: 20px;
}
.uploadCotainer .resultsWrapper .results .resultImages {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.uploadCotainer .resultsWrapper .results .resultImages .alexContainer {
  width: 40%;
}
.uploadCotainer .resultsWrapper .results .resultImages .alexContainer img {
  width: 100%;
  max-height: 450px;
}
.uploadCotainer .resultsWrapper .results .resultImages .xgContainer {
  width: 40%;
}
.uploadCotainer .resultsWrapper .results .resultImages .xgContainer img {
  width: 100%;
  max-height: 450px;
}

@media screen and (min-width: 1025px) {
  label:nth-of-type(2) {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .textContainer {
    margin-top: 80px;
  }
  .textContainer h1 {
    font-size: 2.7rem;
  }
  .textContainer p {
    font-size: 1.3rem;
    width: 60%;
  }
  .uploadCotainer {
    width: 85%;
  }
  .uploadCotainer .previewImage {
    -o-object-fit: contain;
       object-fit: contain;
    max-height: 300px;
  }
  .uploadCotainer .uploadVector {
    width: 60%;
    height: auto;
  }
  .uploadCotainer .optionsContainer {
    margin-top: 15px;
    display: flex;
    gap: 10px;
  }
  .uploadCotainer .optionsContainer label,
  .uploadCotainer .optionsContainer button {
    font-size: 1.3rem;
  }
  .uploadCotainer label:nth-of-type(2) {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .textContainer {
    margin-top: 80px;
  }
  .textContainer h1 {
    font-size: 2.2rem;
  }
  .textContainer p {
    font-size: 1rem;
    width: 65%;
  }
  .uploadCotainer {
    width: 80%;
  }
  .uploadCotainer .previewImage {
    -o-object-fit: contain;
       object-fit: contain;
    max-height: 250px;
  }
  .uploadCotainer .uploadVector {
    width: 60%;
    height: auto;
  }
  .uploadCotainer .optionsContainer {
    margin-top: 15px;
    display: flex;
    gap: 10px;
  }
  .uploadCotainer .optionsContainer label,
  .uploadCotainer .optionsContainer button {
    font-size: 1.1rem;
  }
  .uploadCotainer .allowedMessage {
    font-size: 0.9rem;
  }
  .uploadCotainer .errorMessage {
    font-size: 0.9rem;
  }
  .uploadCotainer .resultsWrapper .results .resultImages {
    flex-direction: column;
    gap: 0px;
  }
  .uploadCotainer .resultsWrapper .results .resultImages h2 {
    font-size: 2rem;
  }
  .uploadCotainer .resultsWrapper .results .resultImages p {
    font-size: 1rem;
  }
  .uploadCotainer .resultsWrapper .results .resultImages .alexContainer {
    width: 60%;
  }
  .uploadCotainer .resultsWrapper .results .resultImages .alexContainer img {
    width: 100%;
  }
  .uploadCotainer .resultsWrapper .results .resultImages .xgContainer {
    width: 60%;
  }
  .uploadCotainer .resultsWrapper .results .resultImages .xgContainer img {
    width: 100%;
  }
  .loadingContainer .loading {
    border: 8px solid #f3f3f3 !important;
    border-top: 8px solid #008E8E !important;
    border-radius: 50%;
    width: 45px !important;
    height: 45px !important;
  }
}
@media screen and (max-width: 480px) {
  .textContainer {
    margin-top: 80px;
  }
  .textContainer h1 {
    font-size: 1.7rem;
  }
  .textContainer p {
    text-align: justify;
    font-size: 0.9rem;
    width: 80%;
  }
  .uploadCotainer {
    width: 80%;
  }
  .uploadCotainer .previewImage {
    -o-object-fit: contain;
       object-fit: contain;
    max-height: 250px;
  }
  .uploadCotainer .uploadVector {
    width: 85%;
    height: auto;
  }
  .uploadCotainer .optionsContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .uploadCotainer .optionsContainer label,
  .uploadCotainer .optionsContainer button {
    margin-top: 5px;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .uploadCotainer .allowedMessage {
    font-size: 0.6rem;
  }
  .uploadCotainer .errorMessage {
    font-size: 0.6rem;
  }
  .uploadCotainer .resultImages {
    flex-direction: column;
    align-items: center;
  }
  .uploadCotainer .resultImages img {
    max-width: 90%;
    margin-bottom: 15px;
  }
  .uploadCotainer .resultsWrapper .results .resultImages {
    flex-direction: column;
    gap: 0px;
  }
  .uploadCotainer .resultsWrapper .results .resultImages h2 {
    font-size: 1.5rem;
  }
  .uploadCotainer .resultsWrapper .results .resultImages p {
    font-size: 0.9rem;
  }
  .uploadCotainer .resultsWrapper .results .resultImages .alexContainer {
    width: 40%;
  }
  .uploadCotainer .resultsWrapper .results .resultImages .alexContainer img {
    width: 100%;
    max-height: 200px;
  }
  .uploadCotainer .resultsWrapper .results .resultImages .xgContainer {
    width: 40%;
  }
  .uploadCotainer .resultsWrapper .results .resultImages .xgContainer img {
    width: 90%;
    max-height: 200px;
  }
  .loadingContainer .loading {
    border: 7px solid #f3f3f3 !important;
    border-top: 7px solid #008E8E !important;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
  }
}/*# sourceMappingURL=Analyze.module.css.map */